<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-list-item"><a class="<%= path === '/' ? 'active' : '' %>"  href="/">Home</a></li>
            <li class="main-header-list-item"><a class="<%= path === '/google/iot' ? 'active' : '' %>" href="/google/iot">Google Cloud Platform</a></li>
            <li class="main-header-list-item"><a class="<%= path === '/baking/yeastwater' ? 'active' : '' %>" href="/baking/yeastwater">Bakery</a></li>
            <li class="main-header-list-item"><a class="<%= path === '/familyandfriends/familymainpage' ? 'active' : '' %>" href="/familyandfriends/familymainpage">Friends and Family</a></li>
        </ul>
    </nav>
</header>