<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/' ? 'active' : '' %>"  href="/">Home</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/baking/yeastwater' ? 'active' : '' %>" href="/baking/yeastwater">Bakery</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/google/iot' ? 'active' : '' %>" href="/google/iot">Google Cloud Platform</a>
      <a class="w3-bar-item w3-button w3-hover-black" class="<%= path === '/familyandfriends/familymainpage' ? 'active' : '' %>" href="/familyandfriends/familymainpage">Friends and Family</a>
</nav> 