<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-list-item"><a href="/">Home</a></li>
                <li class="main-header-list-item"><a href="/google/iot">Google Cloud Platform</a></li>
                <li class="main-header-list-item"><a class="active" href="/baking/yeastwater">Bakery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Baking Bread with Yeast Water</h1>
    </main>
</body>
</html>