<%- include('./includes/head.ejs') %>
    </head>
    <body>
        <%- include('./includes/navigation.ejs') %> 
    <main>
        <h1>Google Cloud Platform - Internet of Things</h1>
        </b>      
        1. IoT Core 
	create registry
		registry ID: rpi-yard
		region: us-central1

	topics: projects/tutorial-lab-286213/topics/backyard

    </main>
 <%- include('./includes/end.ejs') %>