<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-list-item"><a class="active" href="/">Home</a></li>
                <li class="main-header-list-item"><a href="/google/iot">Google Cloud Platform</a></li>
                <li class="main-header-list-item"><a href="/baking/yeastwater">Bakery</a></li>
            </ul>
        </nav>
    </header>
    <h1>My Main Page</h1>
    <p>List of all the shared projects ...</p>
</body>
</html>